.Titles{
    color:hotpink;
    text-align: center;
    background-color: aquamarine;
    font-size: 50px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;

}

.Links{
    font-size: 30px;
}